.header {
    position: absolute;
    width:100%;
    justify-content: space-evenly;
    display: flex;
    color: white;
    font-family: 'stratum-2-web', sans-serif;
    height: 48px;
    padding-top: 40px;
    z-index: 1;
}

#load-header{
    opacity: 0;
} 

@-webkit-keyframes fade {
    0% { opacity: 0; visibility: visible;}
    100% { opacity: 1; visibility: hidden;}
  }
  
  @keyframes fade {
    0% { opacity: 0; visibility: visible;}
    100% { opacity: 1; visibility: hidden;}
}


.showImg {
    width: 16px;
    padding-top: 3px;
    user-select: none;
}

.SigLogo {
    width: 9vw;
}

.headerLogo {
    width: 15%;
    margin-right: 40px;
    margin-left: 40px;
}

.headerMidBtns {
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;

    height: 4.44vh;   
}

.headerTopRightBtns {
    display: flex;
    flex-direction: row;
    
    height: 4.44vh;   
}
.subimtOrderBtn {
    background-color: #FCBC1C;
    color: #0D0D0D;
    font-weight: 500;
    width: 7.708vw;
    border:solid 1px #FCBC1C;


    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.headerRFocusBtn {
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #222;
    color: #FCBC1C;
    border: #4D3D11 1px solid;

    width: 13.4375vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.saveButton{
    text-align: center;
    border: 1px solid var(--neutrals-dark-gray, #202020);
    border-top: none;
    display: flex;
    place-content: center;
    place-items: center;
    justify-content: center;
    gap: 5px;

    width: 7.708vw;
    height: 4.44vh;
    position: relative;
}

.headerRightBtns {
    display: flex;
    flex-direction: column;
    /* margin-right: 30px; */
}
.headerRightBtnA{
    position: relative;
}
.headerRightBtnB{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: end;
}

.buttonBorder, .headerImg, .vaultBtn, .communityBtn, .profileBtn {
    border-top: 1px solid var(--neutrals-dark-gray, #202020);
    border-right: 1px solid var(--neutrals-dark-gray, #202020);
    border-bottom: 1px solid var(--neutrals-dark-gray, #202020);
    }
.vaultBtn, .communityBtn, .profileBtn, .headerImg{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;
}

.headerImg {
    border-left: 1px solid var(--neutrals-dark-gray, #202020);
    border-right: none;
    position: relative;
    /* padding: 0 24px; */
    width:3.229vw;
}
.vaultBtn,.communityBtn,.profileBtn {
    width:5.8vw;
}

.headerMidFocusBtn{
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #222;
    color: #FCBC1C;
    border: #4D3D11 1px solid;

    width: 16.09375vw !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.saveImg {
    width: 0.95vw;

}

.saveText {
    font-size: 0.83vw;
}

@media (max-width: 1891px) {
    .header {
        font-size:.8vw;
    }
}

@media (max-width: 1350px) {
    .header {
        font-size:.8vw;
    }
}

@media (max-width: 1760px) {
    .showImg {
        padding-top: 2px;
    }
}

@media (max-width: 1500px) {
    .showImg {
        padding-top: 0px;
    }

    .SigLogo {
        width: 10vw;
    }
}

@media (max-width: 1280px) {
    .SigLogo {
        width: 11vw;
    }
}
  